.root {
	-fx-background-color: #a6bad8 ;
	-fx-background-image: url('img/SEA.gif');
	-fx-background-size: cover;
	-fx-background-position: top ;
}

.titleLabel {
	-fx-font-size: 36px;
}
.loadGameButton {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-border-insets: 5;
    -fx-border-radius: 15;
}
.newGameButton {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
.newGameButton: hover {
	-fx-background-color: #a6bad8;
}
.loadGameButton: hover {
	-fx-background-color: #a6bad8;
}
.gridMap {
    -fx-background-color: red;
}
